



<!DOCTYPE html>
<html>
<head>

</style>
</head>
<body>
	

<div  >
<center>  
  <h3>LOGIN</h3></center>
  <label for="uname">USERNAME <br>  {{error}}</label>
    <input ng-model="user.name" type="text"  placeholder="USER NAME..">
<br>
    <label for="pass">PASSWORD</label>
    <input ng-model="user.password" type="PASSWORD" placeholder="PASSWORD.">
<br>
   
   <input type="submit" class="btn btn-primary" value="submit" ng-click="search()">
    <input type="submit" class="btn btn-primary" value="newUser" ng-click="gotosignup()">
{{record}}
</div>
</body>
</html> 
