

 <!DOCTYPE html>
<html>
<body>

<h3> REGISTRATION FORM</h3>

<div>
   
    <label for="uname">USERNAME</label>
    <input ng-model="user.name" type="text"  placeholder="USER NAME..">

    <label for="pass">PASSWORD</label>
    <input ng-model="user.password" type="PASSWORD"   placeholder="PASSWORD.">

<label for="cpass">CONFORM PASSWORD</label> 
    <input ng-model="user.conformPassword" type="PASSWORD"   placeholder="CONFORM PASSWORD.">
<br>
<label for="aadhar">AADHAR NUMBER</label>
    <input type="number" ng-model="user.aadharNumber" placeholder="AADHAR NUMBER.">

<label for="email">EMAIL</label>
    <input type="text" ng-model="user.email" placeholder="EMAIL.">

<label for="mobile">MOBILE NUMBER</label>
    <input type="NUMBER" ng-model="user.mobileNumber" placeholder="MOBILE.">

  
    <input ng-disabled = "!user.name || !user.password || !user.conformPassword || !user.aadharNumber || !user.email || !user.mobileNumber" type="submit" class="btn btn-primary" ng-click="createUser()" value="Submit">
    <input type="submit" ng-click="createUserBack()" value="Back">
    <br><h6 style="color:red">{{error}}</h6>{{text}}
  </div>

</body>
</html>
